.app {
  text-align: center;
}
.app .app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #fff;
}
.app .app-logo {
  -webkit-animation: rotate infinite 20s linear;
          animation: rotate infinite 20s linear;
  height: 80px;
}
.app .app-title {
  font-size: large;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
